@charset "utf-8";
/* CSS Document */
#wrapper{
	margin:0 auto;
	width:1000px;
}

#viewer
{
	text-align:center;
	float:right;
	width: 790px;
	height: 610px;
	background-color: rgba(0,0,0,0.5);	
}

.thumb
{
	cursor: pointer;
	margin-bottom: 5px;	
}

#filmstrip_wrap
{
	float:left;
	width: 200px;
	height: 610px;	
	overflow: hidden;
}

#filmstrip
{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.filmstrip_scroll
{
	position: absolute;
	height: 25px;
	background: #333;
	width: 200px;
	opacity: 0.5;
	letter-spacing: 5px;
	text-align: center;
	cursor: pointer;
}

.filmstrip_scroll:hover
{
	background: #000;	
	opacity: 0.88;
}

#fs_scroll_up
{
	top: 100px;
	background-image:url(../images/nav_arrows.png);
}

#fs_scroll_down
{
	bottom: 10px;
	/* for firefox, safari, chrome, etc. */
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	/* for ie */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=6);
	background-image:url(../images/nav_arrows.png);
}

.filler
{
	width: 200px;
	height: 200px;	
	cursor: default !important;
}

#fv_pic{
	top:50%;
}

#loading
{
	position: absolute;
	width: 50px;
	height: 50px;
	left: 50%;
	top: 50%;
	margin-left: 80px;
	margin-top: 80px;
	display: none;
}
