@charset "UTF-8";
/* CSS Document */

body
{
	background-image: url(../images/body-background.jpg);
	background-repeat: repeat;	
}

img
{
	border: hidden;
	border-size: 0px;	
}

#gallery-wrapper
{
	position: absolute;
	top: 0px;
	left: 200px;
	width: 960px;
}

#full_view
{
	visibility: hidden;
	margin: auto;
	width: 1250px;
	height: 800px;
	position: fixed;
	background: #111;
	z-index: 100;
}

#fv_loading
{
	font-size: 26px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;	
	color: #FFF;
	width: 100%;
	text-align: center;
	position: absolute;
	top: 45%
}

#fv_pic
{
	position: absolute;
	left: 0px;
	top: 0px;	
	height: 100%;
}

#fv_close
{
	position: absolute;
	right: 0px;
	top: 0px;
	width: 50px;
	height: 50px;
	opacity: 0.4;
	cursor: pointer;
}

.fv_close_cross
{
	background: #FFF;
	width: 80%;
	height: 20%;
	position: relative;
	border-radius: 33%;
}

#fv_top_ad
{
	width: 728px;
	height: 90px;
	position: fixed;
	top: 5px;
	background: #000;
	z-index: 100;
	display: none;	
}

#cross1
{
	left: 10%;
	top: 40%;
	-webkit-transform: rotate(45deg); 
    -moz-transform: rotate(45deg);  
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5);		
}

#cross2
{
	left: 10%;
	top: 20%;
	-webkit-transform: rotate(-45deg); 
    -moz-transform: rotate(-45deg);  
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-5);		
}

#fv_pic_div
{
	position: absolute;
	top: 0px;
	left: 0px;	
}

.fv_nav
{
	width: 60px;
	height: 60px;
	position: absolute;
	left: -80px;
	top: 500px;
	background: #FFF;
	visibility: hidden;
}

.thumb_box
{
	width: 450px;
	height: 300px;
	background: #111;
	text-align: center;
	padding: 3px;
	margin: 2px;
	float: left;
}

.thumb_img
{
	cursor: pointer;	
}

.vertical_thumb_box
{
	background: -webkit-gradient(radial, 50% 10%, 50, 50% 10%, 450, from(#333), to(#000)) #333;
	background: -moz-radial-gradient(50% 10%, circle, #333 50, #000, 450);
}

#gallery-footer
{
	position: absolute;
	left: 50%;
	margin-left: -364px;
	bottom: -100px;
}
#fv_top_ad_iframe
{
border: hidden;
width: 100%;
height: 100%;
position: absolute;
top: 0px;
left: 0px;
border: 0px; 
}
	